BROKER=servicebus
EVENT_COUNT=250
TOPIC_NAME=order-events

# Azure Service Bus
SERVICEBUS_CONNECTION_STRING=Endpoint=sb://<YOUR_NAMESPACE>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<YOUR_KEY>

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE_TYPE=topic
